{% extends "base.html" %}

{% block content %}
<div class="form-buscar-container col-8 m-auto pt-5 pb-2 text-center">
    <form class="buscar-pizza" method="get">
        <div class="input-group">
            <input type="text" id="search" name="search" class="form-control" placeholder="Buscar..."/>
            <div class="input-group-btn">
                <button id="btn-search" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg></button>
            </div>
        </div>
    </form>
</div>

<div class="col-8 m-auto pt-5 text-center">
    <table class="table">
        <thead>
            <tr style="background-color: #3d3c3c; color:#fff">
                <th scope="col">Pizza</th>
                <th scope="col">Descrição</th>
                <th scope="col">Pizzaria</th>
            </tr>
        </thead>
        <tbody>
        {% for pizza in pizzas %}
        <tr>
            <td>{{ pizza.title }}</td>
            <td>{{ pizza.description }}</td>
            <td>{{ pizza.creator }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}