{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="form-buscar-container col-8 m-auto pt-5 pb-2 text-center">
    <form class="buscar-pizza" method="get">
        <div class="input-group">
            <input type="text" id="search" name="search" class="form-control" placeholder="Buscar..."/>
            <div class="input-group-btn">
                <button id="btn-search" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg></button>
            </div>
        </div>
    </form>
</div>

{% if user.is_staff %}
<div class="modal fade" id="modalCadastro" tabindex="-1" aria-labelledby="modalCadastro" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Cadastro</h5>
        </div>
        <div class="modal-body">
          <form name="form" id="form" action="" method="post">
            {% csrf_token %}
            {{form.non_field_errors}}
            <div class="checkEdit">
              <p><input type="hidden" id="check_edit" name="check_edit" value="false"></p>
            </div>
            <div class="id-wrapper">
              <input type="hidden" class="form-control" id="id-pizza" name="id_pizza" value="">
            </div>
            <div class="title-wrapper">
              {{form.title.errors}}
              <label class="col-form-label">Nome</label>
              <p>{{form.title}}</p>
            </div>
            <div class="description-wrapper">
              {{form.description.errors}}
              <label class="col-form-label">Descrição</label>
              <p>{{form.description}}</p>
            </div>
            <div class="type-wrapper">
              {{form.type.errors}}
              <label class="col-form-label">Tipo</label>
              <p>{{form.type}}</p>
            </div>
            <div class="creator-wrapper">
              {{form.creator.errors}}
              <label class="col-form-label">Pizzaria</label>
              <p>{{form.creator}}</p>
            </div>
            <p>
            <div>
              <button type="submit" id="btn-salvar" class="btn btn-success mt-4"></button>
            </div>
            </p>
          </form>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
</div>

<div div class="col-8 m-auto pt-8 pb-2" align="right">
    <a href="" id="btn-adicionar" class="btn btn-success" data-bs-toggle="modal"
      data-bs-target="#modalCadastro"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
        fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
        <path
          d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
        <path fill-rule="evenodd"
          d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
    </svg> Cadastrar Pizza</a>
</div>
{% endif %}

<div class="col-8 m-auto pt-5 text-center">
    <table class="table">
        <thead>
            <tr style="background-color: #3d3c3c; color:#fff">
                <th scope="col">Pizza</th>
                <th scope="col">Descrição</th>
                <th scope="col">Tipo</th>
                <th scope="col">Pizzaria</th>
                {% if user.is_staff%}
                <th scope="col">Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for pizza in pizzas %}
        <tr>
            <td>{{ pizza.title }}</td>
            <td>{{ pizza.description }}</td>
            {% if pizza.type == 'CA' %}
            <td>Carne</td>
            {% elif pizza.type == 'VE' %}
            <td>Vegetariana</td>
            {% elif pizza.type == 'VG' %}
            <td>Vegana</td>
            {% elif pizza.type == 'DC' %}
            <td>Doce</td>
            {% endif %}
            <td>{{ pizza.creator }}</td>
            {% if user.is_staff %}
            <td>
                <div class="btn-group">
                    <button id="btn-editar" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCadastro"
                      data-bs-id-pizza="{{pizza.id}}" data-bs-title="{{pizza.title}}" data-bs-description="{{pizza.description}}"
                      data-bs-type="{{pizza.type}}" data-bs-creator="{{pizza.creator}}" data-bs-check="true"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg></button>
                    <a href="/pizzas/delete/{{pizza.id}}/" id="btn-deletar" class="btn btn-danger btnDel"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                        viewBox="0 0 16 16">
                        <path
                          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg></a>
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="col-1 m-auto pt-auto pb-auto text-center">
    <ul class="pagination" align="center">
      {% if paginator.has_previous %}
      <li class="page-item"><a href="?page={{db.previous_page_number}}" class="page-link" aria-label="Anterior">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Anterior</span> </a></li>
      {% endif %}

      <li class="page-item"><a href="" class="page-link"> {{paginator.number}} </a></li>

      {% if paginator.has_next %}
      <li class="page-item"><a href="?page={{db.next_page_number}}" class="page-link" aria-label="Próximo"> <span
            aria-hidden="true">&raquo;</span>
          <span class="sr-only">Próximo</span> </a></li>
      {% endif %}
    </ul>
</div>

<script src="{% static 'js/javascript.js' %}"></script>
{% endblock %}